/*---------------------------------------------------------
USWDS Settings
----------------------------------------------------------*/
@forward "uswds-theme-settings";

/*---------------------------------------------------------
USWDS Source
----------------------------------------------------------*/
@forward 'uswds';

/*---------------------------------------------------------
Custom styling
----------------------------------------------------------*/
.usa-prose > p {max-width:96ex}
.img96ex {max-width:96ex;width:100%}
.imgc50 {margin:0 auto;max-width:48ex;display:block}
.site-logo {height:100px}
.inline-logo {position:relative;top:5px}

ul.framework-element-list {
  list-style:none;
  li {
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 1.4em;
    padding-left:2.5em;
    margin-bottom:1em;
    &.icon-gavel {background-image: url('../_img/icon_gavel.svg');}
    &.icon-principles {background-image: url('../_img/icon_column.svg');}
    &.icon-improvement {background-image: url('../_img/icon_improvement.svg');}
    &.icon-process {background-image: url('../_img/icon_process.svg');}
    &.icon-roles {background-image: url('../_img/icon_roles.svg');}
  }
}


.usa-section {
padding-top:2em;
}

.usa-prose > h1 {
  font-size:2.2rem;
}
.usa-prose > table.updates-table {
  font-size: 0.84rem; 
}

.usa-prose .site-component-section-title {
    font-weight: 700;
    border-top: 1px solid;
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding-top: .75rem;
}

.usa-prose > ul, .usa-prose > ol {
  margin-left:6ch;
}
.usa-prose > ul li, .usa-prose > ol li {
  max-width:75ex;
}

dt {font-weight:700}
dd+dt {
margin-top:1em;
}
dd {margin-left:0}

.usa-callout-box {
  border-left:4px solid #ddd;
  padding-left:1.5em;
  .usa-callout-box__heading {
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:300;
    font-size:1.2rem;
    color:#666;
    margin-block-end:1em;
  }
  .usa-callout-box__text {
  font-size:0.9em;
  color:#333;}
}

img.actor-icon {
  height:96px;
  max-height:96px;
  float:left;
  padding:10px 20px 20px 10px;
}

figcaption.minor {
  text-align:center;
  font-size:0.9rem;
  color:#333;
}


.grid-container .section .grid-col-4 {
  padding-left:1em;
}
@media screen and (max-width: 63.99em) {
.usa-header { margin-top:2em}
}
@media screen and (max-width: 1023px) {
  .usa-prose > ul, .usa-prose > ol {
    margin-left:3ch;
  }
}
@media screen and (max-width: 600px) {
  .usa-prose > ul, .usa-prose > ol {
    margin-left:1ch;
  }
  .grid-container {
    .section {
      .grid-col-8 {
        padding-bottom: 2rem;
      }

      .grid-col-4 {
        padding-left: 0;
      }
    }
  }
}