<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-darker">
    <div class="grid-container">
      <div class="grid-row font-sans-3xs">
        <div class="grid-col usa-dark-background">
          <p class="margin-bottom-2 text-white">© 2026 The MITRE Corporation All Rights Reserved. Approved for Public Release 26-0587. Distribution Unlimited. </p>
          <p class="margin-bottom-0 text-white"> This site is maintained by <a class="usa-link text-primary-dark" href="https://www.mitre.org"> MITRE</a>.</p>
          <p class="margin-bottom-4 margin-top-05 text-white"><a class="usa-link text-primary-dark" href="https://github.com/mitre/linkage-governance-framework">{% image_with_class "./assets/_common/_img/github-white.svg" "inline-logo" "Github Logo"%} Linkage Governance Framework on Github</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>