<div style="margin-top:10em">
<h3 id="changelog" class="site-component-section-title"><a id="latest-updates" class="usa-anchor"></a>Latest Playbook Updates</h2>

<table class="usa-table--borderless site-table-responsive site-table-simple updates-table">
  <thead>
    <tr>
      <th scope="col" class="tablet:grid-col">Date</th>
      <th scope="col" class="tablet:grid-col tablet:padding-left-0">Version</th>
      <th scope="col" class="tablet:grid-col-6">Description</th>
    </tr>
  </thead>
  <tbody class="font-lang-3" style="font-size:0.9em">
    <tr>
      <td data-title="Date" class="tablet:grid-col text-no-wrap">
          <span>2026-01-01</span>
      </td>
      <td data-title="Version" class="tablet:grid-col tablet:padding-left-0">
        v0.1
      </td>
      <td data-title="Description" class="tablet:grid-col-9">
        <p class="measure-6">
          Initial release of the Playbook. 
        </p>
      </td>
    </tr>
       <tr>
      <td data-title="Date" class="tablet:grid-col text-no-wrap">
          <span >2026-02-19</span>
      </td>
      <td data-title="Version" class="tablet:grid-col tablet:padding-left-0">
        v0.2
      </td>
      <td data-title="Description" class="tablet:grid-col-9">
        <p class="measure-6">
          Updated release with changes from operational exercise.  
        </p>
      </td>
    </tr> 
  </tbody>
</table>
</div>